<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title>首页_有话说</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="shortcut icon" href="/static/images/bitbug_favicon.ico" type="image/x-icon" />
  <link href="/static/css/base.css" rel="stylesheet">
  <link href="/static/css/index.css" rel="stylesheet">
  <link href="/static/css/m.css" rel="stylesheet">
  <script src="/static/js/jquery.min.js" type="text/javascript"></script>
  <script src="/static/js/jquery.easyfader.min.js"></script>
  <script src="/static/js/scrollReveal.js"></script>
  <script src="/static/js/common.js"></script>
  <script src="/static/js/xcConfirm.js"></script>
  <script src="/static/js/wangEditor.js"></script>
  <link rel="stylesheet" href="/static/css/comments.css">
  {% block css %}
  {% endblock %}  
</head>
<body>

    {% block title_head %}
  <header id="header">
    <!--menu begin-->
    <div class="menu">
      <nav class="nav" id="topnav">
        <h1 class="logo"><a href="/">有话说</a></h1>
        <li><a href="/">网站首页</a> </li>
        <li><a href="#">话类</a>
          <ul class="sub-nav">
{#              /list.html#}
            <li><a href="/list/?type=meici">美词佳句</a></li>
            <li><a href="/list/?type=jingdian">经典说说</a></li>
            <li><a href="/list/?type=gaoxiao">搞笑说说</a></li>
            <li><a href="/list/?type=aiqing">爱情说说</a></li>
            <li><a href="/list/?type=shanggan">伤感说说</a></li>
{#              {% for name in content_type %}#}
{#                  <script>console.log("{{ name.cate_name }}")</script>#}
{#                  <li><a href="{{ name.url }}">{{ name.cate_name }}</a></li>#}
{#              {% endfor %}#}
          </ul>
        </li>
          <li><a href="/m/gbook/">留言</a> </li>
          <li><a href="/photo/">特效</a>
          </li>
          <li><a href="/time/">看烟花</a> </li>
        <li><a href="/about/">暂未开发</a> </li>
        <li><a href="/release/">发表博客</a></li>
      </nav>
    </div>
  {%if not data.user %}
    <a href="/u/login/" id="login" target="_self">登录</a>
    <a href="/u/register/" id="register" target="_top">注册</a>
  {% else %}
      <a href="/u/info/" id="login" target="_self">{{ data.user }}</a>
      <a href="/u/logout/" id="register" target="_self">注销</a>
  {% endif %}

  </header>
    {% endblock %}
    {% block content %}
    {% endblock %}
</body>
</html>